.copyright
    - var hexoURL = "https://hexo.io/";
    - var apolloURL = "https://github.com/pinggod/hexo-theme-apollo";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    <script src="https://use.fontawesome.com/f66d00f063.js"></script>
    p <i class="fa fa-copyright" aria-hidden="true"></i> #{year} <i class="fa fa-heart" aria-hidden="true"></i> #[a(href=config.url)!= config.author]
